useDynLib(textir)

import(slam)

export(corr,
       quadratic,
       cubic,
       freq,
       mnlm,
       normalize,
       pls,
       rdir,
       sdev,
       tfidf,
       topics,
       predict.topics,
       topicVar,
       expit,
       logit)

S3method(coef,mnlm)
S3method(print,mnlm)
S3method(plot,mnlm)
S3method(predict,mnlm)
S3method(summary,mnlm)

S3method(plot,pls)
S3method(predict,pls)
S3method(summary,pls)

S3method(plot,topics)
S3method(predict,topics)
S3method(summary,topics)
