<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>

	<body>

		<center><h1>SampleClean Pipeline Demo</h1></center>
		<hr/>

<!-- Single button -->
<center>

<div class="btn-group">

 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    K Operation 1 <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Remove Punctuation</a></li>
    <li><a href="#">Reorder String</a></li>
    <li><a href="#">Trim</a></li>
    <li><a href="#">Custom Maps</a></li>
  </ul>
</div>

<div class="btn-group">

 <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    K Operation 2 <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Remove Punctuation</a></li>
    <li><a href="#">Reorder String</a></li>
    <li><a href="#">Trim</a></li>
    <li><a href="#">Custom Maps</a></li>
  </ul>
</div>

<div class="btn-group">

 <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    K Operation 3 <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Remove Punctuation</a></li>
    <li><a href="#">Reorder String</a></li>
    <li><a href="#">Trim</a></li>
    <li><a href="#">Custom Maps</a></li>
  </ul>
</div>

<div class="btn-group">

 <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    K Operation4 <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Remove Punctuation</a></li>
    <li><a href="#">Reorder String</a></li>
    <li><a href="#">Trim</a></li>
    <li><a href="#">Custom Maps</a></li>
  </ul>
</div>

<div class="btn-group">

 <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    Deduplication <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Sort Merge</a></li>
    <li><a href="#">Connected Components</a></li>
    <li><a href="#">Correlation Cluster</a></li>
  </ul>
</div>

</center>
<br/>
<br/>
<center>
<table class="table table-bordered" style="width: 80%;">
	<tr>
		<th>Affiliation Dirty</th>
		<th>Affiliation Clean</th>
		<th>Affiliation Comparison</th>
     	<th style="width:40px;">K 1</th>
     	<th style="width:40px;">K 2</th>
     	<th style="width:40px;">K 3</th>
     	<th style="width:40px;">K 4</th>
	</tr>
{% for a in author_list %}
    {% if a.affiliation_final != a.affiliation_compare %}
    <tr class="danger">
    {% else %}
    <tr>
    {% endif %}

     	<td>{{a.affiliation_dirty}}</td>
     	<td>{{a.affiliation_final}}</td>
     	<td>{{a.affiliation_compare}}</td>
     	<td style="width:40px;">{{a.k1}}</td>
     	<td style="width:40px;">{{a.k2}}</td>
     	<td style="width:40px;">{{a.k3}}</td>
     	<td style="width:40px;">{{a.k4}}</td>
    </tr>
{% endfor %}
</table>

</center>

	</body>
</html>
