---
layout: default
---

{% if page.use_math %}
  {% include mathjax_support.html %}
{% endif %}

<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<h2>{{ page.title }}</h2>

{% unless page.tags == empty %}
  <h4><img src="http://sungsoo.github.io/images/tag.png" width="20" alt="tags" />Tags</h4>
  <ul class="tag_box">
  {% assign tags_list = page.tags %}
  {% assign group = 'navigation' %}
  {% include JB/tags_list %}
  </ul>
{% endunless %}  

<h4> <p align="right">{{ page.date | date: "%-d %B %Y" }}</p></h4>
<hr>

<div class="post">
{{ content }}
</div>

<div class="giscus">
 <script src="https://giscus.app/client.js"
        data-repo="sungsoo/sungsoo.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNDk5NTE4OQ=="
        data-category="General"
        data-category-id="DIC_kwDOAOTO9c4CPbIC"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
</div>