<!doctype html>
<html>
   <head>
      <meta charset="utf-8">

      <title>Reveal.JS Template</title>

      <meta name="description" content="Reveal.JS Template">
      <meta name="author" content="Laurent Belcour">

      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <link rel="stylesheet" href="css/reveal.css">
      <link rel="stylesheet" href="css/theme/beige.css" id="theme">

      <script src="js/snap.svg.js"></script>
      <script src="js/reveal.js"></script>
   </head>
   <body>
      <!-- Here is placed the presentation slides -->
      <div class="reveal">
         <div class="slides">

            <!-- Title screen -->
            <section class="title"> <!-- data-background="./png/background.png" -->
            <h3>Title Screen</h3>
            <p><small>
               <a href="http://belcour.github.io/blog">Laurent Belcour</a>
            </small></p>
            </section>

            <!-- Content Slides -->
            <section>
               <h4 class="text">Text Screen<h4>
               <ul>
                  <li>List of important items</li>
                  <li>VERY important items</li>
               </ul>
            </section>
         </div>
      </div>

      <script>
         // More info https://github.com/hakimel/reveal.js#configuration
         Reveal.initialize({
              controls: true,
              progress: true,
               history: true,
                center: false,
            transition: 'none',
         });
      </script>
   </body>
</html>
